{% extends 'layout/templates_home.html' %} {% block style %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='home/dist/css/style.css') }}"
/>
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.css"
/>
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='home/estetik.css') }}"
/>
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='home/tabel_absen.css') }}"
/>
{% endblock style %} {% block content %}
<header class="main-header position-fixed w-100">
    <div class="container">{% include 'components/nav_home.html' %}</div>
</header>
<section
    id="profil"
    class="service position-relative overflow-hidden"
>
    <div class="container position-relative">
        <div class="section-title">
            <h2>Absensi</h2>
            <p>Hadapkan wajah pada kamera.</p>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-md-8">
                <img
                    id="videoElement"
                    width="100%"
                    class="img-thumbnail"
                />
            </div>

            <div
                class="col-md-4"
                style="height: 500px; overflow-y: auto"
            >
                <button
                    id="aksesMasukButton"
                    onclick="aksesMasuk()"
                    class="estetik-button"
                >
                    Absen Masuk
                </button>
                <button
                    id="aksesPulangButton"
                    onclick="aksesPulang()"
                    class="estetik-button"
                >
                    Absen Pulang
                </button>

                <h1 class="kary">Identitas Karyawan</h1>

                <table class="karyawan-container">
                    <thead>
                        <tr>
                            <th>Id Karyawan</th>
                            <th>Nama</th>
                            <th>Jabatan</th>
                            <th>Waktu Masuk</th>
                            <th>Waktu Pulang</th>
                        </tr>
                    </thead>
                    <tbody id="tabelRecordTerbaru"></tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock content %} {% block script %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='home/dist/js/custom.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='home/js/s_alert.js') }}"></script> -->
<script src="{{ url_for('static', filename='home/js/masuk.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='home/js/pulang.js') }}"></script> -->
<!-- <script src="{{ url_for('static', filename='camera.js') }}"></script> -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.js"></script>
<script>
    var Masuk = "{{ url_for('Absensi.recog_masuk') }}";
</script>
<script>
    var Pulang = "{{ url_for('Absensi.recog_pulang') }}";
</script>
<script src="{{ url_for('static', filename='home/js/absen.js') }}"></script>

{% endblock script %}
