<div class="row justify-content-center">
    <div class="col-12 text-center">
        <small class="fs-7 d-block">Pertanyaan yang sering diajukan</small>
        <h2 class="fs-3 text-black mb-0">Ingin menanyakan sesuatu dari kami?</h2>
    </div>
</div>
<div class="accordion-block">
    <div
        class="accordion row"
        id="accordionPanelsStayOpenExample"
    >
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="accordion-item mb-3">
                <h2
                    class="accordion-header"
                    id="panelsStayOpen-headingOne"
                >
                    <button
                        class="accordion-button text-black fs-7 collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne"
                        aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne"
                    >
                        Bagaimana cara kerja sistem absensi recognition ini?
                    </button>
                </h2>
                <div
                    id="panelsStayOpen-collapseOne"
                    class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingOne"
                >
                    <div class="accordion-body fs-7 fw-500 pt-0">
                        Sistem absensi recognition menggunakan teknologi pengenalan wajah untuk mengidentifikasi dan memverifikasi kehadiran individu. Dengan menggunakan algoritma yang canggih, sistem akan membandingkan fitur wajah yang
                        terdeteksi dengan data referensi yang telah disimpan sebelumnya.
                    </div>
                </div>
            </div>
            <div class="accordion-item mb-3">
                <h2
                    class="accordion-header"
                    id="panelsStayOpen-headingTwo"
                >
                    <button
                        class="accordion-button collapsed text-black fs-7"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo"
                    >
                        Apakah sistem ini dapat mengenali wajah dengan tingkat akurasi yang tinggi?
                    </button>
                </h2>
                <div
                    id="panelsStayOpen-collapseTwo"
                    class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingTwo"
                >
                    <div class="accordion-body fs-7 fw-500 pt-0">
                        Ya, sistem kami menggunakan algoritma dan teknologi canggih untuk mencapai tingkat akurasi yang tinggi dalam pengenalan wajah. Namun, akurasi dapat dipengaruhi oleh faktor-faktor seperti kondisi pencahayaan dan
                        kualitas gambar.
                    </div>
                </div>
            </div>
            <div class="accordion-item mb-3">
                <h2
                    class="accordion-header"
                    id="panelsStayOpen-headingThree"
                >
                    <button
                        class="accordion-button collapsed text-black fs-7"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree"
                    >
                        Bagaimana jika saya mengenakan kacamata atau masker pada saat absensi?
                    </button>
                </h2>
                <div
                    id="panelsStayOpen-collapseThree"
                    class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingThree"
                >
                    <div class="accordion-body fs-7 fw-500 pt-0">
                        Sistem absensi recognition kami biasanya dapat mengenali wajah dengan kacamata tipis atau masker ringan. Namun, untuk hasil yang lebih akurat, disarankan untuk melepas kacamata atau masker saat melakukan proses
                        absensi.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="accordion-item mb-3">
                <h2
                    class="accordion-header"
                    id="panelsStayOpen-headingfour"
                >
                    <button
                        class="accordion-button collapsed text-black fs-7"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapsefour"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapsefour"
                    >
                        Apakah data wajah saya aman dan dilindungi?
                    </button>
                </h2>
                <div
                    id="panelsStayOpen-collapsefour"
                    class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingfour"
                >
                    <div class="accordion-body fs-7 fw-500 pt-0">Keamanan data wajah Anda adalah prioritas kami. Data wajah yang diambil hanya digunakan untuk keperluan verifikasi kehadiran dan tidak akan digunakan untuk tujuan lain.</div>
                </div>
            </div>
            <div class="accordion-item mb-3">
                <h2
                    class="accordion-header"
                    id="panelsStayOpen-headingfive"
                >
                    <button
                        class="accordion-button collapsed text-black fs-7"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapsefive"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapsefive"
                    >
                        Apa yang harus dilakukan jika wajah saya tidak terdeteksi oleh sistem?
                    </button>
                </h2>
                <div
                    id="panelsStayOpen-collapsefive"
                    class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingfour"
                >
                    <div class="accordion-body fs-7 fw-500 pt-0">
                        Jika wajah Anda tidak terdeteksi oleh sistem, pastikan Anda mengikuti panduan dan instruksi yang diberikan dengan baik. Periksa pencahayaan, pastikan wajah tidak terhalangi, dan coba lagi dengan posisi dan sudut yang
                        berbeda. Jika masalah terus berlanjut, hubungi tim dukungan kami untuk mendapatkan bantuan lebih lanjut.
                    </div>
                </div>
            </div>
            <div class="accordion-item mb-3">
                <h2
                    class="accordion-header"
                    id="panelsStayOpen-headingsix"
                >
                    <button
                        class="accordion-button collapsed text-black fs-7"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapsesix"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapsesix"
                    >
                        Apakah sistem ini dapat mengenali wajah pada kondisi pencahayaan yang rendah?
                    </button>
                </h2>
                <div
                    id="panelsStayOpen-collapsesix"
                    class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingsix"
                >
                    <div class="accordion-body fs-7 fw-500 pt-0">
                        Sistem kami dirancang untuk dapat mengatasi kondisi pencahayaan yang bervariasi, termasuk kondisi pencahayaan rendah. Namun, hasil yang lebih baik biasanya dapat dicapai dalam kondisi pencahayaan yang memadai.
                        Pastikan ruangan memiliki pencahayaan yang cukup untuk mendapatkan hasil absensi yang optimal.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
