<div class="row">
    <div class="col-xxl-8 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <img
            src="{{ url_for('static', filename='home/img/cs.png') }}"
            class="img-fluid"
        />
    </div>
    <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ps-xxl-0 ps-xl-0 ps-lg-3 ps-md-3 ps-sm-3 ps-3">
        <small class="fs-7 d-block">Layanan Kami</small>
        <h2 class="fs-2 text-black mb-0">Layanan Unggulan Kami yang Kami Sediakan</h2>
        <p class="mb-0 fw-500 fs-7">Lihat tugas-tugas yang membutuhkan simpatik anda.</p>
        <ul class="list-unstyled mb-0 pl-0">
            <li class="d-flex flex-wrap align-items-start">
                <i class="ti ti-circle-check fs-4 pe-2"></i>
                <span class="fs-7 text-black">Optimalkan Manajemen Kehadiran dengan Layanan Absen Pengenalan Wajah Kami.</span>
            </li>
            <li class="d-flex flex-wrap align-items-start">
                <i class="ti ti-circle-check fs-4 pe-2"></i>
                <span class="fs-7 text-black">Tingkatkan Efisiensi dan Akurasi dengan Sistem Absensi Pengenalan Wajah Kami.</span>
            </li>
            <li class="d-flex flex-wrap align-items-start">
                <i class="ti ti-circle-check fs-4 pe-2"></i>
                <span class="fs-7 text-black">Pemantauan Kehadiran yang Mudah dengan Teknologi Pengenalan Wajah.</span>
            </li>
        </ul>
    </div>
</div>
