<img
    src="{{ url_for('static', filename='home/assets/images/service/dot-shape.png') }}"
    class="shape position-absolute"
/>
<div class="row">
    <div class="col-12"><small class="fs-7 d-block">Instruksi absensi</small></div>
    <div
        class="col-12 d-xxl-flex d-xl-flex d-lg-flex d-md-flex d-sm-block d-block align-items-center justify-content-xxl-between justify-content-xl-between justify-content-lg-between justify-content-md-between justify-content-sm-between justify-content-sm-center"
    >
        <h2 class="fs-2 text-black mb-0">
            Bagaimana<br />
            cara absensi
        </h2>
    </div>
</div>
<div class="row d-flex flex-wrap justify-content-center step-row">
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 text-center">
        <div class="card border-0 shadow">
            <div class="card-body">
                <div class="icon-round overflow-hidden rounded-circle position-relative d-flex align-items-center justify-content-center mx-auto text-center">
                    <i class="ti ti-download text-primary position-relative"></i>
                </div>
                <h5 class="mb-0 fw-500">Step 1</h5>
                <h3 class="fs-4">Face to camera</h3>
                <p class="fs-7 mb-0 fw-500">Hadapkan wajah anda dengan jelas ke kamera. Pastikan pencahayaan yang cukup agar wajah terlihat dengan jelas.</p>
            </div>
        </div>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 text-center">
        <div class="card border-0 shadow">
            <div class="card-body">
                <div class="icon-round overflow-hidden rounded-circle position-relative d-flex align-items-center justify-content-center mx-auto text-center">
                    <i class="ti ti-user text-primary position-relative"></i>
                </div>
                <h5 class="mb-0 fw-500">Step 2</h5>
                <h3 class="fs-4">Hold the position steady</h3>
                <p class="fs-7 mb-0 fw-500">Tahan posisi dengan tenang dan stabil selama proses absensi. Pastikan wajah anda terdeteksi dengan benar.</p>
            </div>
        </div>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 text-center">
        <div class="card border-0 shadow">
            <div class="card-body">
                <div class="icon-round overflow-hidden rounded-circle position-relative d-flex align-items-center justify-content-center mx-auto text-center">
                    <i class="ti ti-gift text-primary position-relative"></i>
                </div>
                <h5 class="mb-0 fw-500">Step 3</h5>
                <h3 class="fs-4">Data verification</h3>
                <p class="fs-7 mb-0 fw-500">Pastikan untuk memverifikasi keberhasilan absensi sebelum meninggalkan area pemindaian wajah.</p>
            </div>
        </div>
    </div>
</div>
