<div class="row">
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="footer-logo-col">
            <a href="#"
                ><img
                    src="{{ url_for('static', filename='home/img/presensi.png') }}"
                    class="mb-6"
            /></a>
            <p class="text-white mb-0 fs-7 pt-0 border-bottom border-secondary border-white">Alamat</p>
            <p class="blue-light mb-0 fs-7 fw-500 pb-0">Jl. Supriyadi, No.74, <br />Trayeman, Kecamatan Slawi, <br />Kabupaten Tegal, Jawa Tengah <br />Indonesia 52414</p>
            <div class="social-link pt-4">
                <a href="#">
                    <ion-icon
                        name="logo-twitter"
                        class="blue-light"
                    ></ion-icon>
                </a>
                <a href="#">
                    <ion-icon
                        name="logo-youtube"
                        class="blue-light"
                    ></ion-icon>
                </a>
                <a href="#">
                    <ion-icon
                        name="logo-facebook"
                        class="blue-light"
                    ></ion-icon>
                </a>
                <a href="#">
                    <ion-icon
                        name="logo-instagram"
                        class="blue-light"
                    ></ion-icon>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-12">
        <h5 class="text-white border-bottom border-secondary border-white">Tentang Kami</h5>
        <ul class="list-unstyled mb-0 pl-0 mt-5">
            <li><a href="#">Tentang</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Instagram</a></li>
        </ul>
    </div>
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-12">
        <h5 class="text-white border-bottom border-secondary border-white">Layanan</h5>
        <ul class="list-unstyled mb-0 pl-0 mt-5">
            <li><a href="#">Monitoring Kehadiran</a></li>
        </ul>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="subscribe">
            <h5 class="text-white border-bottom border-secondary border-white">Fitur</h5>
            <p class="blue-light fw-500 mt-5">Absensi Karyawan</p>
            <p class="blue-light fw-500 mt-5">Absensi Face Recognition</p>
        </div>
    </div>
</div>
<div class="copyrights text-center blue-light fw-500">@<span id="autodate">2023</span></div>
<!-- 
<footer>
    <div class="footer-content">
        <div class="footer-brand">
            <img
                src="{{ url_for('static', filename='img/logo/VixFilm.png') }}"
                alt=""
                class="footer-logo"
            />
            <p class="slogan">Movies & Serial TV, Online cinema, Movie database. Template 2022.</p>
            <p class="slogan2">&copy; VixFilm</p>

            <div class="social-link">
                <a href="#">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a>
                <a href="#">
                    <ion-icon name="logo-youtube"></ion-icon>
                </a>
                <a href="#">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
                <a href="#">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
            </div>
        </div>

        <div class="footer-links">
            <ul>
                <h4 class="link-heading">CineFlix</h4>

                <li class="link-item"><a href="#">About us</a></li>
                <li class="link-item"><a href="#">My profile</a></li>
                <li class="link-item"><a href="#">Pricing plans</a></li>
                <li class="link-item"><a href="#">Contacts</a></li>
            </ul>

            <ul>
                <h4 class="link-heading">Help</h4>

                <li class="link-item"><a href="#">Account & Billing</a></li>
                <li class="link-item"><a href="#">Plans & Pricing</a></li>
                <li class="link-item"><a href="#">Supported devices</a></li>
                <li class="link-item"><a href="#">Accessibility</a></li>
            </ul>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="copyright">
            <p>&copy; copyright 2022 VixFilm</p>
        </div>

        <div class="wrapper">
            <a href="#">Privacy policy</a>
            <a href="#">Terms and conditions</a>
        </div>
    </div>
</footer> -->
