<nav class="navbar navbar-expand-xl py-0">
    <div class="logo">
        <a
            class="navbar-brand py-0 me-0"
            href="{{ url_for('home') }}"
            ><img
                src="{{ url_for('static', filename='home/img/presensi2.png') }}"
                alt=""
        /></a>
    </div>
    <a
        class="d-inline-block d-lg-block d-xl-none d-xxl-none nav-toggler text-decoration-none"
        data-bs-toggle="offcanvas"
        href="#offcanvasExample"
        aria-controls="offcanvasExample"
    >
        <i class="ti ti-menu-2 text-warning"></i>
    </a>
    <div
        class="collapse navbar-collapse"
        id="navbarSupportedContent"
    >
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a
                    class="nav-link text-capitalize"
                    aria-current="page"
                    href="{{ url_for('home' ) }}"
                    >Beranda</a
                >
            </li>
            <li class="nav-item">
                <a
                    class="nav-link text-capitalize"
                    href="{{ url_for('Absensi.absensi' ) }}"
                    >Absen kehadiran</a
                >
            </li>
            <li class="nav-item">
                <a
                    class="nav-link text-capitalize"
                    href="#instruksi"
                    >Instruksi Absensi
                </a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link text-capitalize"
                    href="#layanan"
                    >Layanan Kami
                </a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link text-capitalize"
                    href="#qna"
                    >QnA</a
                >
            </li>
        </ul>
        <!-- <div class="d-flex align-items-center">
            <a
                class="btn btn-warning btn-hover-secondery text-capitalize"
                href="{{ url_for('Auth.login') }}"
                >Masuk</a
            >
        </div> -->
    </div>
</nav>
