<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
    <div class="flash-messages">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            <span
                class="close-btn"
                onclick="closeFlashMessages();"
                >&times;</span
            >
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %} {% endwith %}

    <!-- Navbar Brand-->
    <a
        class="navbar-brand ps-3"
        href="{{ url_for('Dashboard.index' ) }}"
        >Dashboard</a
    >
    <!-- Sidebar Toggle-->
    <button
        class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0"
        id="sidebarToggle"
        href="#!"
    >
        <i class="fas fa-bars"></i>
    </button>

    <ul class="navbar-nav ms-auto me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a
                class="nav-link dropdown-toggle"
                id="navbarDropdown"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                ><i class="fas fa-user fa-fw"></i
            ></a>
            <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="navbarDropdown"
            >
                <li><hr class="dropdown-divider" /></li>
                <li>
                    <a
                        class="dropdown-item"
                        href="{{ url_for('Auth.logout' ) }}"
                        >Logout</a
                    >
                </li>
            </ul>
        </li>
    </ul>
</nav>
