<aside
    id="layout-menu"
    class="layout-menu menu-vertical menu bg-menu-theme"
>
    <div class="app-brand demo">
        <a
            href="index.html"
            class="app-brand-link"
        >
            <span class="app-brand-logo demo">
                <img
                    src="{{ url_for('static', filename='home/img/presensi.png') }}"
                    width="100"
                    alt="Logo Brand"
                />
            </span>
        </a>

        <a
            href="javascript:void(0);"
            class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none"
        >
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item {{ 'active' if request.endpoint == 'User.index' else '' }}">
            <a
                href="{{ url_for('User.index' ) }}"
                class="menu-link"
            >
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
            </a>
        </li>
        <li class="menu-item {{ 'active' if request.endpoint == 'User.absensi' else '' }}">
            <a
                href="{{ url_for('User.absensi' ) }}"
                class="menu-link"
            >
                <i class="menu-icon tf-icons bx bx-user"></i>
                <div data-i18n="Basic">Absen Kehadiran</div>
            </a>
        </li>
    </ul>
</aside>
