<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>{{title}}</title>
        <!-- Favicon -->
        <link
            rel="icon"
            type="image/x-icon"
            href="{{ url_for('static', filename='home/img/logo.ico') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='home/assets/libs/OwlCarousel-2/dist/assets/owl.carousel.min.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='home/dist/css/iconfont/tabler-icons.css') }}"
        />
        {% block style %} {% endblock style %}
    </head>
    <body>
        {% block content %} {% endblock content %}
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
            integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <script src="{{ url_for('static', filename='home/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='home/assets/libs/OwlCarousel-2/dist/owl.carousel.min.js') }}"></script>
        {% block script %} {% endblock script %}
    </body>
</html>
